<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>HoneControll</display-name>
    <servlet-name>HoneControll</servlet-name>
    <servlet-class>controll.HoneControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HoneControll</servlet-name>
    <url-pattern>/HoneControll</url-pattern>
  </servlet-mapping>
  <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategoryControll</display-name>
    <servlet-name>CategoryControll</servlet-name>
    <servlet-class>controll.CategoryControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryControll</servlet-name>
    <url-pattern>/CategoryControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>detailControll</display-name>
    <servlet-name>detailControll</servlet-name>
    <servlet-class>controll.detailControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detailControll</servlet-name>
    <url-pattern>/detailControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchControll</display-name>
    <servlet-name>SearchControll</servlet-name>
    <servlet-class>controll.SearchControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchControll</servlet-name>
    <url-pattern>/SearchControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControll</display-name>
    <servlet-name>LoginControll</servlet-name>
    <servlet-class>controll.LoginControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControll</servlet-name>
    <url-pattern>/LoginControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpControll</display-name>
    <servlet-name>SignUpControll</servlet-name>
    <servlet-class>controll.SignUpControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpControll</servlet-name>
    <url-pattern>/SignUpControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerControll</display-name>
    <servlet-name>ManagerControll</servlet-name>
    <servlet-class>controll.ManagerControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerControll</servlet-name>
    <url-pattern>/ManagerControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteControll</display-name>
    <servlet-name>DeleteControll</servlet-name>
    <servlet-class>controll.DeleteControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteControll</servlet-name>
    <url-pattern>/DeleteControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditControll</display-name>
    <servlet-name>EditControll</servlet-name>
    <servlet-class>controll.EditControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditControll</servlet-name>
    <url-pattern>/EditControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateControll</display-name>
    <servlet-name>UpdateControll</servlet-name>
    <servlet-class>controll.UpdateControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateControll</servlet-name>
    <url-pattern>/UpdateControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addControll</display-name>
    <servlet-name>addControll</servlet-name>
    <servlet-class>controll.addControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addControll</servlet-name>
    <url-pattern>/addControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCartControll</display-name>
    <servlet-name>addCartControll</servlet-name>
    <servlet-class>controll.addCartControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCartControll</servlet-name>
    <url-pattern>/addCartControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadCartProduct</display-name>
    <servlet-name>loadCartProduct</servlet-name>
    <servlet-class>controll.loadCartProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadCartProduct</servlet-name>
    <url-pattern>/loadCartProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profileControll</display-name>
    <servlet-name>profileControll</servlet-name>
    <servlet-class>controll.profileControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileControll</servlet-name>
    <url-pattern>/profileControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>relateProductControll</display-name>
    <servlet-name>relateProductControll</servlet-name>
    <servlet-class>controll.relateProductControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relateProductControll</servlet-name>
    <url-pattern>/relateProductControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendEmailControll</display-name>
    <servlet-name>SendEmailControll</servlet-name>
    <servlet-class>controll.SendEmailControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmailControll</servlet-name>
    <url-pattern>/SendEmailControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPlaceControll</display-name>
    <servlet-name>addPlaceControll</servlet-name>
    <servlet-class>controll.addPlaceControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPlaceControll</servlet-name>
    <url-pattern>/addPlaceControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageProfileMy</display-name>
    <servlet-name>PageProfileMy</servlet-name>
    <servlet-class>controll.PageProfileMy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageProfileMy</servlet-name>
    <url-pattern>/PageProfileMy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePayControll</display-name>
    <servlet-name>ProfilePayControll</servlet-name>
    <servlet-class>controll.ProfilePayControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePayControll</servlet-name>
    <url-pattern>/ProfilePayControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputProfileControll</display-name>
    <servlet-name>InputProfileControll</servlet-name>
    <servlet-class>controll.InputProfileControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputProfileControll</servlet-name>
    <url-pattern>/InputProfileControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAPI</display-name>
    <servlet-name>NewAPI</servlet-name>
    <servlet-class>buildapi.NewAPI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAPI</servlet-name>
    <url-pattern>/NewAPI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerAccountControll</display-name>
    <servlet-name>ManagerAccountControll</servlet-name>
    <servlet-class>controll.ManagerAccountControll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerAccountControll</servlet-name>
    <url-pattern>/ManagerAccountControll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editAccountController</display-name>
    <servlet-name>editAccountController</servlet-name>
    <servlet-class>controll.editAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editAccountController</servlet-name>
    <url-pattern>/editAccountController</url-pattern>
  </servlet-mapping>
</web-app>